<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deber04">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MkPetPro"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Pedicure"></activity>
        <activity android:name=".Loading" />
        <activity android:name=".Bathe" />
        <activity android:name=".Buy" />
        <activity android:name=".Take_a_walk" />
        <activity android:name=".Profile" />
        <activity android:name=".Register" />
        <activity android:name=".Services" />
        <activity
            android:name=".CreateAccount"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ConsultarID" />
        <activity android:name=".ConsultarTodoActivity" />
        <activity android:name=".EliminarActivity" />
        <activity android:name=".ModificarActivity" />
        <activity android:name=".IngresarActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>